/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #612e85;
  --ifm-color-primary-dark: #4f2978;
  --ifm-color-primary-darker: #4c2771;
  --ifm-color-primary-darkest: #32205d;
  --ifm-color-primary-light: #573392;
  --ifm-color-primary-lighter: #653599;
  --ifm-color-primary-lightest: #713cad;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #6c25c2;
  --ifm-color-primary-dark: #5a21af;
  --ifm-color-primary-darker: #621fa5;
  --ifm-color-primary-darkest: #531a88;
  --ifm-color-primary-light: #7f29d5;
  --ifm-color-primary-lighter: #8532d8;
  --ifm-color-primary-lightest: #8d4fdd;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
